{% extends "app.njk" %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Desafio módulo 0</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-4">
        <form action="/check" method="post">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="dt-nasc">Data de nascimento</label>
            <input type="date" class="form-control" id="dtNasc" name="dtNasc" placeholder="dd/mm/aaaa">
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>

  </section>
{% endblock %}
