{% extends "app.njk" %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Que pena {{ name }}, você tem menos de 18 anos! :(</h1>
      </div>
    </div>
  </section>
{% endblock %}
